@model PagedList.IPagedList<ActivityLog.Models.UserModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách người dùng</h2>

<p>
    @Html.ActionLink("Thêm người dùng", "Create")
</p>
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @style = "border-radius: 10px; margin-top: 5px;" })
        <button type="submit" style="font-size: 15px; border-radius: 15px;"><i class="fa fa-search"></i></button>
    </p>
}
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Username
        </th>
        <th>
            Mật khẩu đã mã hoá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.ActionLink(item.Username, "Edit", new { id = item.Id }, new { @style = "color: black" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @if (item.Theodoi)
                {
                    <button onclick="location.href='@Url.Action("UnFollow", "User", new { id = item.Id })'" class="btn btn-info btn-sm mr-4">
                        Đang theo dõi
                    </button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("Follow", "User", new { id = item.Id })'" class="btn btn-default btn-sm" style="margin-right: 5px;">
                        Theo dõi
                    </button>
                }
                <button onclick="location.href='@Url.Action("Delete", "User", new { id = item.Id })'" class="btn btn-default btn-sm">
                    Xoá người dùng
                </button>
            </td>
        </tr>
    }
</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))