@model PagedList.IPagedList<ActivityLog.Models.ActivityModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhật ký hoạt động</h2>
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @style = "border-radius: 10px; margin-top: 5px;" })
        <button type="submit" style="font-size: 15px; border-radius: 15px;" ><i class="fa fa-search"></i></button>
    </p>
    }
    @if (Session["Auditing"] == null)
    {
        <button onclick="location.href='@Url.Action("ActiveAuditing", "Home")'" class="btn btn-info btn-sm" style="display: inline; font-weight: 700; color: black; float: right">
            Enable Auditing
        </button>
    }
    else
    {
        <button onclick="location.href='@Url.Action("CloseAuditing", "Home")'" class="btn btn-danger btn-sm" style="display: inline; font-weight: 700; color: black; float: right">
            Close Auditing
        </button>
    }
</div>
<table class="table">
    <tr>
        <th>
            ID Tài khoản
        </th>
        <th>
            Ngày giờ
        </th>
        <th>
            Hành động
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                @Html.ActionLink("Xoá hoạt động", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
