@model ActivityLog.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 style="font-weight: 700";>Trang quản lý hoạt động người dùng</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Ghi lại quá trình hoạt động của người dùng. Trang web chỉ có thể đăng nhập bằng tài khoản ADMIN, 
                không thể đăng nhập bằng tài khoản người dùng và ngược lại.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
